##########################################
# Python Bytecode & Cache
##########################################
*.py[cod]
__pycache__/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

##########################################
# Virtual Environment & Build Artifacts
##########################################
venv/
build/
dist/
*.egg-info/
.eggs/
.installed.cfg
*.egg
pip-selfcheck.json

##########################################
# Airflow Specific Files
##########################################
airflow.cfg
airflow.db
webserver_config.py
unittests.cfg

##########################################
# Docker & Environment
##########################################
.dockerenv
.dockerignore
.env

##########################################
# Logs & Temporary Files
##########################################
*.log
*.pid
*.lock

# Airflow logs - keep folder only
logs/*
!logs/.gitkeep

# DVC or custom downloads
downloads/

##########################################
# Data Files - keep folder only
##########################################
data/*
!data/.gitkeep

##########################################
# IDE/Editor Configs
##########################################
.vscode/
.idea/
.DS_Store
*.sublime-*
.spyderproject
.spyproject
.ropeproject

##########################################
# Miscellaneous
##########################################
coverage/
htmlcov/
site/
.sphinx/
profiles/
var/
versioneer.pypath
