# File konfigurasi dan cache Python
*.pyc
__pycache__/
*.pyo

# File log Airflow
logs/

# File Docker
.dockerenv
.dockerignore
.env
!.env.example

# File sistem
*.db
*.sqlite

# File lainnya
*.log
*.lock
*.pid
coverage/
venv/
build/
dist/
downloads/
ipynb_checkchecks/
profiles/
site/
.sphinx/
var/
EGG-INFO/
.installed.cfg
versioneer.pypath
pip-selfcheck.json

# Airflow
airflow.cfg
airflow.db
webserver_config.py
unittests.cfg

# Cache tools
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Data files
data/*.csv
data/*.json
data/*.parquet
data/*.pickle
!data/.gitkeep

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.spyderproject
.spyproject
.ropeproject
.DS_Store